a{
  text-decoration: none;
}

.tabRoot {
  display: -webkit-flex;
  display: flex;
  height: 3em;
  flex-direction: row;
  background-color: white;
}
.tab{
  display: -webkit-flex;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.mainRoot {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e4e4e4;
}
.normal{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #bfbfbf;
  justify-content: center;
  align-items: center;
}
.select{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #1296db;
  justify-content: center;
  align-items: center;
}
.mainContent{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #e4e4e4;
}
.mainTabRoot{
  display: -webkit-flex;
  display: flex;
  height: 3em;
  background-color: #1296db;
}
.mainTabLinkNormal{
  display: -webkit-flex;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #bfbfbf;
  cursor:pointer
}
.mainTabLinkSelect{
  display: -webkit-flex;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
  cursor:pointer
}
.noticeContent{
  background-color:gainsboro;
}
.noticeRoot{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  background-color: #61dafb;
}
.headerRoot{
  display: -webkit-flex;
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  background-color: #1296db;
}
.headerTitle{
  display: -webkit-flex;
  display: flex;
  flex:1;
  justify-content: center;
  font-size: 18px;
  color: white;
}
.headerBack{
  margin-left: 10px;
  cursor:pointer;
}
.loadViewRoot{
  display: -webkit-flex;
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  color: #1296db;
  font-size: 16px;
  text-align: center;
}
.loadView{
  display: -webkit-flex;
  display: flex;
  width: 30px;
  height: 30px;
  border:3px solid #1296db;
  border-right-color: transparent;
  border-radius: 90px;
  margin: 10px auto 3px auto;
  animation: loadingCircle 1s  linear infinite;
}
.loadMore{
  display: -webkit-flex;
  display: flex;
  width: 1em;
  height: 1em;
  border:0.1em solid #1296db;
  border-right-color: transparent;
  border-radius: 90px;
  margin: 1em auto 1em auto;
  animation: loadingCircle 1s  linear infinite;
}

.mainUl{
  display: -webkit-flex;
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;

}
.mainLi{
  display: -webkit-flex;
  display: flex;
  flex:1;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
}

.liContentRoot{
  display: -webkit-flex;
  display: flex;
  flex:1;
  height: 80px;
  text-align:left;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
}
.liContentTitle{
  display: -webkit-flex;
  display: flex;
  /*overflow: hidden;*/
  margin-left: 5px;
  text-align:left;
}
h4{
  margin: 0;
  font-size: 16px;
  color: #282c34;
  white-space: nowrap;/*不换行*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.liContentAuthor{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  color: #1296db;
  margin-left: 5px;
  margin-right: 5px;
}
.detailContentRoot{
  display: -webkit-flex;
  display: flex;
  flex:1;
  flex-direction: column;
  background-color: white;
  padding: 5px 5px 5px 5px;
}
.authorHead{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.01em solid #ddd;
  background-size: cover;
  background-color: #eee;
}
.detailContentUser{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height:3.5em;
}


@keyframes loadingCircle {
    0%{
         transform: rotate(0deg);
    }
    100%{
          transform: rotate(360deg);
    }
}